/* No javascript */
div#no-script {
    text-align: center;
    color: #CC3732;
}

div#content-block {
    display: none;
}
/* End no javascript */


/* Main marketing message and sign up button */
.jumbotron {
    background-color: #fff;
    margin-bottom: 0px !important;
    padding-top: 20px !important;
}

.jumbotron h1, .jumbotron p.lead {
    text-align: center;
}

@media only screen and (min-width: 992px) {

.jumbotron h1 {
    font-size: 72px;
    line-height: 1;
    font-weight: 800;
}

.jumbotron .form-inline .form-group {
    margin: 30px;
}

}

@media only screen and (max-width: 992px) and (min-width: 768px) {

.jumbotron h1 {
    font-size: 54px;
    line-height: 1;
    font-weight: 600;
}

.jumbotron .form-inline .form-group {
    margin: 10px;
}

}

@media only screen and (min-width: 768px) {

#email-register-sm,
#code-verify-sm {
    display: none;
}

}

@media only screen and (max-width: 767px) {

.jumbotron h1 {
    font-size: 36px;
    line-height: 1;
    font-weight: 400;
}

.jumbotron .form-inline .form-group {
    margin: 10px;
}

#email-register-lg,
#code-verify-lg {
    display: none;
}

input#input-email-register,
input#input-code-verify {
    max-width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

}

.input-group .help-block {
    font-size: 14px;
}

.btn-social {
    display: inline-block;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}

.btn-social:hover {
    color: white;
    text-decoration: none;
}

.btn-icon {
    display: inline-block;
    vertical-align: middle;
    width: 42px;
    height: 40px;
}

.btn-text {
    display: inline-block;
    vertical-align: middle;
    padding: 0 14px 0 10px;
    margin: 0 0 0 4px;
    border-left: 1px solid #ccc;
}

.btn-google .btn-icon {
    background: url("../img/google_icon_32.png") no-repeat scroll 10px 50% transparent;
}

.btn-facebook .btn-icon {
    background: url("../img/facebook_icon_32.png") no-repeat scroll 10px 50% transparent;
}

.btn-liveconnect .btn-icon {
    background: url("../img/liveconnect_icon_32.png") no-repeat scroll 10px 50% transparent;
    padding-right: 3px;
}

.pre-big {
    font-size: 150%;
}

.verification-code form {
    text-align: center;
}

.verification-code form p {
    text-align: left;
}

.masthead {
  padding-top: 10px;
  padding-bottom: 5px;
}

.masthead img {
  max-width: 108px;
  max-height: 110px;
}

.nav-pills li.nav-separator {
  height: 34px;
  width: 0px;
  border-left: solid rgb(0, 136, 204) 1px;
  display: inline-block;
}

form.accept-cancel {
  margin-top: 20px;
}

div#footer span.langselector {
  color: rgb(85, 85, 85);;
  display: inline-block;
  height: 14px;
  line-height: 14px;
  margin-bottom: 2px;
  margin-right: 2px;
  margin-top: 2px;
  padding: 4px;
  text-align: left;
}

/* Bottom footer styles
-------------------------------------------------- */

html, body {
  height: 100%;
}

#footer {
  height: 3em;
}

/* end bottom footer styles
-------------------------------------------------- */

/* Spinner
-------------------------------------------------- */

.glyphicon-spin {
  -webkit-animation: spin 1000ms infinite linear;
  animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

/* End Spinner
-------------------------------------------------- */

/* Center captcha */
.center-block {float: none !important;}

/* raise modal over menu */
.modal {z-index: 10000 !important;}

/* Messages */

.messages-center-block {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 768px) {

div.messages-wrapper {
    display: block;
    position: relative;
    left: 5px !important;
}

}
@media only screen and (min-width: 768px) {

div.messages-wrapper {
  position:sticky;
  top:70px;
  height:0px;
}

}
@media only screen and (min-width: 768px) and (max-width: 992px) {

div.messages-wrapper {
  width:338px;
}

}
@media only screen and (min-width: 992px) {

div.messages-wrapper {
  width:600px;
}

}