{% extends "templates/base.jinja2" %}

{% block contents %}
<div class="jumbotron">
  <h1>{{ _("Welcome to eduID!") }}</h1>
  {% if from_email is defined %}
    <p class="lead">{{ _("Email successfully verified") }}</p>
  {% endif %}
</div>

<div class='row'>
  <h4>{{  _("Master Password (PUK code)") }}</h4>
  <p>{{ _("Write down this Master Password and store it in a safe place. Simpler passwords can be added to an account later.") }}</p>
  <pre class='text-center pre-big'>{{ password }}</pre>
</div>

<div class="row">
  <h4>{{ _("Complete account profile") }}</h4>
  <p>{{ _("Click this button to finish the signup process") }}</p>
    <p class="text-center">
      <form method="post" action="{{ profile_link }}">
        <input type="hidden" name="email" value="{{ email }}"/>
        <input type="hidden" name="token" value="{{ auth_token }}"/>
        <button type="submit" class="btn btn-success btn-large profile-link">{{ _("Go to dashboard") }}</button>
      </form>
    </p>
</div>

{% endblock %}
