{% extends "templates/base.jinja2" %}

{% block contents %}

<div class="jumbotron">
  <h1>{{ _("Welcome to eduID!") }}</h1>
  <p class="lead">{{ _("Email address already in use") }}</p>
</div>
<div class="row">
  <div class='col-lg-10 col-lg-push-1 text-center'>
    <h4>{{ _("Email address already in use") }}</h4>
    <p> {{ _("Forgot your password?") }}</p>
    <p class="text-center">
      <a class="btn btn-success btn-lg profile-link" href="{{ reset_password_link }}">{{ _("Reset your password") }}</a>
    </p>
  </div>
</div>

{% endblock %}
