{% trans email=email, site_url=site_url, site_name=site_name, password=password %}
<h2>Welcome to {{ site_name }},</h2>

<p>This email is sent to you for remembering your initial credentials for <a href="{{ site_url }}">{{ site_name }}</a> registration.</p>

<p>Your email :</p>

<p>{{ email }}</p>

<p>Your password :</p>

<p>{{ password }}</p>

{% endtrans %}
