{% trans email=email, site_url=site_url, site_name=site_name, password=password %}
Welcome to {{ site_name }},

This email is sent to you for remembering your initial credentials
for {{ site_name }} registration.

Your email: {{ email }}

Your password: {{ password }}

If you did not perform this registration, then please accept our appologies
and ignore this email.

{% endtrans %}
