{% extends "templates/base.jinja2" %}

{% block contents %}
<div class="jumbotron">
  <h1>{{ _("Welcome to eduID!") }}</h1>
  <p class="lead">{{ _("Your email has been verified now") }}</p>
</div>
<div class="row">
    <h4>{{ _("Complete your profile") }}</h4>
    <p>{{ _("Now, you can complete your profile clicking in the follow button") }}</p>
    <p class="text-center">
      <a class="btn btn-success btn-large profile-link" href="{{ profile_link }}">{{ _("Fill your profile") }}</a>
    </p>
  </div>
</div>
{% endblock %}
