{% extends "templates/base.jinja2" %}

{% block contents %}
<div class="jumbotron">
  <h1>{{ _("Welcome to eduID!") }}</h1>
  <p class="lead">{{ _("Create an account that will allow you access to all Sweedish Universities.") }}</p>
  <a class="btn btn-large btn-success" href="#">{{ _("Sign up today") }}</a>
</div>
<div id="sign-up-block" class="row {% if email_error is not defined %}hide{% endif %}">
  <div id="email-register" class="span6">
    <h3>{{ _("Sign up with your email") }}</h3>
    <div>
      <form class="form-inline" method="POST">
        <div class="input-append">
            <span class="control-group {% if email_error is defined %}error{% endif %}">
              <input type="email" name="email" placeholder="you@example.com"
                {% if email is defined %}value="{{ email }}"{% endif %}/>
            </span>
            <input type="submit" class="btn"/>
            {% if email_error is defined %}
              <span class="help-block error">{{ email_error }}</span>
            {% endif %}
        </div>
      </form>
    </div>
  </div>
  <div id="social-register" class="span6">
    <h3>{{ _("Signup with your social network id") }}</h3>
    <a class="btn" href="#">{{ _("Facebook") }}</a>
    <a class="btn" href="#">{{ _("Google") }}</a>
  </div>
</div>
<div class="row">

  <div class="span6">
    <h4>Subheading</h4>
    <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

    <h4>Subheading</h4>
    <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

    <h4>Subheading</h4>
    <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
  </div>

  <div class="span6">
    <h4>Subheading</h4>
    <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

    <h4>Subheading</h4>
    <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

    <h4>Subheading</h4>
    <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
  </div>

</div>

{% endblock %}

{% block extrajs %}
<script src="{{'eduid_signup:static/js/home.js'|static_url}}"></script>
{% endblock %}
