{% extends "templates/base.jinja2" %}

{% block contents %}

<div class="jumbotron eduid-success">
  <h1>{{ _("Email address already in use") }}</h1>
  <p class="lead"> {{ _("Send a new verification link to this address") }}</p>
</div>
<div class="row eduid-resend-code">
  <div class="col-md-12 lead">
    <form method="POST" class="text-center">
        <p>
          <button type="submit" class="btn btn-success btn-lg">{{ _("Resend verification link") }}</button>
        </p>
    </form>
  </div>
</div>

{% endblock %}
