{% extends "templates/base.jinja2" %}

{% block contents %}

<div class="jumbotron">
  <h1>{{ _("Email address already in use") }}</h1>
  <p class="lead"> {{ _("Send a new verification link to this address") }}</p>
</div>
<div class="row">
    <form method="POST" class="text-center">
      <button type="submit" class="btn btn-success btn-large">{{ _("Resend verification link") }}</button>
    </form>
</div>

{% endblock %}
