{% extends "templates/base.jinja2" %}

{% block contents %}
    <div class="jumbotron eduid-fetched-info">
      <h1>{{ _("Welcome to eduID!") }}</h1>
      <p class="lead">{{ _("Please review the data received from the social network") }}</p>
    </div>

    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        {% if not mail_empty and not mail_registered %}
        <p>{% trans %} No account has been created in eduID yet. If the data below is
            correct, click the <strong>Accept</strong> button. Otherwise click the
            <strong>Cancel</strong> button to get back to the signup page, and choose
            another option for signing up with eduID.
          {% endtrans %}
        </p>
        {% elif mail_empty %}
        <p>{% trans %}
          <strong>The social network did not provide eduID with an e-mail address.</strong>
            You should click on <strong>Cancel</strong> to discard the data and
            return to the signup page to choose another option for signing up with eduID.
          {% endtrans %}
        </p>
        {% elif mail_registered %}
        <p>{% trans reset_password_link=reset_password_link %}
          <strong>The email provided by your social network is already in use.</strong>
            You can reset your password clicking <a href='{{ reset_password_link }}'>here</a>.
           {% endtrans %}
        </p>
        {% endif %}
        <p>
        {% trans %}The data received from the social network cannot be edited here.
            Click <strong>Cancel</strong> if it is not correct.{% endtrans %}
        </p>
      </div>
      <div class="col-md-2"></div>
    </div>

    <div class="row eduid-fetched-info-form">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class='row'>
          <div class="col-md-6">
            <div class="form-group{% if mail_empty or mail_registered %} has-error{% endif %}">
              <label class="control-label" for="email">{{_("Email")}}</label>
              <span class="form-control uneditable-input">{{ social_info.email }}</span>
              {% if mail_registered %}
                <span class="help-block">{{ _("Email address already in use") }}</span>
              {% elif mail_empty %}
                <span class="help-block">{{ _("Email address is required, but none was received from social network") }}</span>
              {% endif %}
            </div>
          </div>
          <div class='col-md-6'>
            <div class="form-group">
              <label class="control-label" for="screenname">{{_("Display name")}}</label>
              <span class="form-control uneditable-input">{{ social_info.screen_name }}</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class='col-md-6'>
            <div class="form-group">
              <label class="control-label" for="firstname">{{_("First name")}}</label>
              <span class="form-control uneditable-input">{{ social_info.first_name }}</span>
            </div>
          </div>
          <div class='col-md-6'>
            <div class="form-group">
              <label class="control-label" for="lastname">{{_("Last name")}}</label>
              <span class="form-control uneditable-input">{{ social_info.last_name }}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <form class="accept-cancel" method="POST">
            <div class="row">
              <div class="col-md-6">
               <button class="btn btn-danger" name="cancel" type="submit" value="cancel">{{ _("Cancel") }}</button>
              </div>
              <div class="col-md-6">
               <button class="btn btn-success has-spinner"
                       name="action"
                       type="submit"
                {% if mail_registered or mail_empty %}
                       disabled value="disabled"
                {% else %}
                       id="do-review-button"
                       value="accept"
                {% endif %}>
                    <span class="glyphicon glyphicon-refresh glyphicon-spin hidden"></span> {{ _("Accept") }}
                </button>
              </div>
            </div>
        </form>
      </div>
      <div class="col-md-2"></div>
    </div>
{% endblock %}


{% block extrajs %}
   <script type="text/javascript" src="{{'eduid_signup:static/js/signup-review_fetched_info.js'|static_url}}"></script>
{% endblock %}
