{% extends "templates/base.jinja2" %}

{% block contents %}
    <div class="jumbotron">
      <h1>{{ _("Welcome to eduID!") }}</h1>
      <p class="lead">{{ _("Please review the data received from the social network") }}</p>
    </div>

    <div class="row">
      <div class="span8">
        {% if not mail_empty and not mail_registered %}
        <p>{% trans %} No account has been created in eduID yet. If the data below is
            correct, click the <strong>Accept</strong> button. Otherwise click the
            <strong>Cancel</strong> button to get back to the signup page, and choose
            another option for signing up with eduID.
          {% endtrans %}
        </p>
        {% elif mail_empty %}
        <p>{% trans %}
          <strong>The social network did not provide eduID with an e-mail address.</strong>
            You should click on <strong>Cancel</strong> to discard the data and
            return to the signup page to choose another option for signing up with eduID.
          {% endtrans %}
        </p>
        {% elif mail_registered %}
        <p>{% trans reset_password_link=reset_password_link %}
          <strong>The email provided by your social network is already in use.</strong>
            You can reset your password clicking <a href='{{ reset_password_link }}'>here</a>.
           {% endtrans %}
        </p>
        {% endif %}
        <p>
        {% trans %}The data received from the social network cannot be edited here.
            Click <strong>Cancel</strong> if it is not correct.{% endtrans %}
        </p>
      </div>
    </div>

    <div class="falseform well well-small">
      <div class='row'>
        <div class="span4">
          <div class="control-group{% if mail_empty or mail_registered %} error{% endif %}">
            <label class="control-lavel" for="email">{{_("Email")}}</label>
            <div class="controls">
              <span class="input-xlarge uneditable-input">{{ social_info.email }}</span>
              {% if mail_registered %}
                <span class="help-block">{{ _("Email address already in use") }}</span>
              {% elif mail_empty %}
                <span class="help-block">{{ _("Email address is required, but none was received from social network") }}</span>
              {% endif %}
            </div>
          </div>
        </div>
        <div class='span4'>
          <div class="control-group">
            <label class="control-lavel" for="screenname">{{_("Display name")}}</label>
            <div class="controls">
              <span class="input-xlarge uneditable-input">{{ social_info.screen_name }}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class='span4'>
          <div class="control-group">
            <label class="control-lavel" for="firstname">{{_("First name")}}</label>
            <div class="controls">
              <span class="input-xlarge uneditable-input">{{ social_info.first_name }}</span>
            </div>
          </div>
        </div>
        <div class='span4'>
          <div class="control-group">
            <label class="control-lavel" for="lastname">{{_("Last name")}}</label>
            <div class="controls">
              <span class="input-xlarge uneditable-input">{{ social_info.last_name }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <form class="form-horizontal accept-cancel span8" method="POST">
          <div class="control-group">
             <button class="btn btn-danger" name="action" type="submit" value="cancel">{{ _("Cancel") }}</button>
             <button class="btn btn-success pull-right" name="action" type="submit"
              {% if mail_registered or mail_empty %}
                disabled value="disabled"
              {% else %}
                value="accept"
              {% endif %}>{{ _("Accept") }}</button>
          </div>
      </form>
    </div>
{% endblock %}
