{% extends "templates/base.jinja2" %}

{% block contents %}
<div class="jumbotron">
  <h1>{{ _("Welcome to eduID!") }}</h1>
  <p class="lead">{{ _("You are successfully registered now") }}</p>
</div>
<div class="row">

  <div class="span6">
    <h4>{{ _("Complete your profile") }}</h4>
    <p> {{ _("Now, you can complete your profile clicking in the next button") }}</p>
    <p class="text-center">
      <form method="post" action="{{ profile_link }}">
        <input type="hidden" name="email" value="{{ email }}"/>
        <input type="hidden" name="token" value="{{ auth_token }}"/>
        <button type="submit" class="btn btn-success btn-large profile-link">{{ _("Fill your profile") }}</button>
      </form>
    </p>
  </div>
  <div class="span6">
    <h4>{{ _("Remember! You must confirm your email") }}</h4>
    <p>{{ _("An email with a confirmation link was sent to your inbox, remember
       that you need to confirm your email address by clicking on that link.") }}</p>
  </div>

</div>
{% endblock %}
