{% extends "templates/base.jinja2" %}

{% block contents %}
    <div class="jumbotron eduid-success">
      <h1>{{ _("Welcome to eduID!") }}</h1>
      <h2 class="lead">{{ _("Account created successfully") }}</h2>
    </div>

    <div class="row success-instructions">
        <div class="col-lg-12 lead">
          <h2>{{ _("Confirm registration") }}</h2>
          <p>
          {% trans email=email %}
          An email with instructions on how to proceed has been sent to <strong>{{ email }}</strong>.
          {% endtrans %}
          </p>
        </div>
    </div>
{% endblock %}
