{% extends "templates/base.jinja2" %}

{% block nav_class_home %}active{% endblock %}

{% block contents %}

  <div class="jumbotron">
    {% if error is defined %}
      <h1>{{ _("Ups!") }}</h1>
      <p class="lead">{{ _("Something was wrong with your answer. Could you repeat? please") }}</h1>
    {% else %}
      <h1>{{ _("Only one step more!") }}</h1>
      <p class="lead">{{ _("We have detected many registration application process from your IP address.") }}</p>
    {% endif %}

  </div>

  <div class="row">
    <form action="" method="post">
      <script type="text/javascript"
         src="http://www.google.com/recaptcha/api/challenge?k={{ recaptcha_public_key }}">
      </script>
      <noscript>
         <iframe src="http://www.google.com/recaptcha/api/noscript?k={{ recaptcha_public_key }}"
             height="300" width="500" frameborder="0"></iframe><br>
         <textarea name="recaptcha_challenge_field" rows="3" cols="40">
         </textarea>
         <input type="hidden" name="recaptcha_response_field"
             value="manual_challenge">
      </noscript>
    </form>
  </div>

{% endblock %}
