{% trans verification_link=verification_link, site_url=site_url, site_name=site_name %}
Welcome to {{ site_name }},

You recently signed up for {{ site_name }}.

Please confirm the e-mail address and get your password by clicking
on this link :

  {{ verification_link }}

If clicking on the link above does not work, please copy and paste
the link into a web browser window.

Confirmation code : {{ code }}

{% endtrans %}
