{% trans verification_link=verification_link, site_url=site_url, site_name=site_name,
   verification_code_form_link=verification_code_form_link %}
<h2>Welcome to {{ site_name }},</h2>

<p>You recently signed up for <a href="{{ site_url }}">{{ site_name }}</a>.</p>

<p>Please confirm the e-mail address and get your password by clicking on this link :</p>

<a href="{{ verification_link }}">{{ verification_link }}</a>

<p>If clicking on the link above does not work, please copy and paste the link into a web browser window.</p>

<p>Confirmation code : {{ code }}</p>

{% endtrans %}
