{% trans verification_link=verification_link, site_url=site_url, site_name=site_name %}
<h2>Welcome to {{ site_name }},</h2>

<p>This email is sent to you because this email address was entered in the registration
   process for <a href="{{ site_url }}">{{ site_name }}</a>.</p>

<p>Please click on the follow link to confirm this email address.</p>

<a href="{{ verification_link }}">{{ verification_link }}</a>

<p>If you did not perform this registration, then please accept our appologies and
   ignore this email.</p>

<p>If clicking on the link above does not work, go to <a href="{{ verification_code_form_link }}">this link</a> and enter the following code:</p>

<p>{{ code }}</p>

{% endtrans %}
